h2 Nombre d'images de la page d'accueil
h4 Nombre d'images actuellement : {{accueilArray[0].images}}
span.fa.fa-2x.fa-edit(style="cursor: pointer;" ng-click="modifyAccueilModal(accueilArray[0]._id)")
