h2 Montres
button.btn.btn-success(ng-click="openWatchModal()") Nouvelle montre
br
br
div.watch(ng-repeat="watch in watchArray | orderBy: '-created_at'" ng-class-even="'even'" ng-class-odd="'odd'")
  h3 {{watch.nom}}
  span {{watch.prix}}
  br
  br
  .edit-buttons
    span.fa.fa-2x.fa-edit(ng-click="modifyWatchModal(watch._id)")
    span.fa.fa-2x.fa-close(ng-click="deleteWatchModal(watch._id)")
