html(ng-app='KronosDashboard')
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/main.min.css")
    script(src="//use.edgefonts.net/quicksand.js")
  body(ng-controller="DashboardCtrl")
    h1 Dashboard
    .bigflex(style="display:flex;")
      .left-half(style="width:30%;")
        h2 New Watch
        form(name="newWatchForm")
          label Marque
            select(name="marque" ng-model="newWatch.marque" required)
              option(value='Helfer' selected) Helfer
          br
          label Nom
            input(type="text" ng-model="newWatch.nom" required)
          br
          label Quantité
            input(type="text" ng-model="newWatch.quantite" required)
          br

          br

          label Référence
            input(type="text" ng-model="newWatch.reference" required)
          br
          label Année
            input(type="text" ng-model="newWatch.annee" required)
          br
          label Description
            input(type="text" ng-model="newWatch.description" required)
          br

          br

          label Catégorie
            select(name="categorie" ng-model="newWatch.categorie" required)
              option(value="Homme") Homme
              option(value="Femme") Femme
          br
          label Disponible
            select(name="disponible" ng-model="newWatch.disponible" required)
              option(value="Disponible") Disponible
              option(value="Sur commande") Sur commande
              option(value="Appel pour dispo") Appel pour disponibilité
              option(disabled) -----------
              option(value="Non disponible") Non disponible
              option(value="Interrompu") Interrompu
          br
          label Prix
            input(type="text" ng-model="newWatch.prix" required)
          br

          br

          label Taille
            select(name="taille" ng-model="newWatch.taille" required)
              option(value="40mm") 40mm
              option(value="45mm") 45mm
              option(value="47mm") 47mm
              option(value="48mm") 48mm
          br
          label Mouvement
            input(type="text" ng-model="newWatch.mouvement" required)
          br
          label Garantie
            select(name="garantie" ng-model="newWatch.garantie" required)
              option(value="12 ans") 12 ans
              option(value="2 ans") 2 ans
          br

          br

          label Edition limitée
            input(type="text" ng-model="newWatch.limite" required)
          br
          label Étanchéité
            input(type="text" ng-model="newWatch.etancheite" required)
          br
          label Glace
            input(type="text" ng-model="newWatch.glace" required)
          br

          br

          label Boîtier
            input(type="text" ng-model="newWatch.boitier" required)
          br
          label Traitement
            input(type="text" ng-model="newWatch.traitement" required)
          br
          label Cadran
            input(type="text" ng-model="newWatch.cadran" required)
          br

          br

          label Lunette
            input(type="text" ng-model="newWatch.lunette" required)
          br
          label Poids
            input(type="text" ng-model="newWatch.poids" required)
          br
          br
          button.btn.btn-success(type="submit" ng-click="addNewWatch()" ng-disabled="newWatchForm.$invalid") Add Watch
          br
          br
          h4 {{watchmessage}}
      .right-half(style="width:30%;margin-left:10%")
        h2 Watches
        .onewatch(ng-repeat="watch in watchArray")
          p(id="{{watch._id}}") {{watch.nom}}
            span.fa.fa-edit(style="cursor:pointer;" ng-click="beginModifyWatch(watch._id)")
            span.fa.fa-close(style="cursor:pointer;" ng-click="deleteWatch(watch._id)")

    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/angular/angular.min.js")
    script(src="/libs/angular-route/angular-route.min.js")
    script(src="/libs/angular-animate/angular-animate.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/a0-angular-storage/dist/angular-storage.js")
    script(src="/libs/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/services/AuthService.js")
    script(src="/javascripts/services/WatchService.js")
    script(src="/javascripts/services/NewsService.js")
    script(src="/javascripts/services/PressPhotoService.js")
    script(src="/javascripts/services/CalendarService.js")
    script(src="/javascripts/controllers/DashboardCtrl.js")
