html(ng-app='KronosDashboard')
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/main.min.css")
    script(src="//use.edgefonts.net/quicksand.js")
  body(ng-controller="DashboardCtrl")
    h1 Dashboard
    ul.nav.nav-tabs#dashboard-tabs
      li(role="presentation" class="active")
        a(href="#montres") Montres
      li(role="presentation")
        a(href="#news") News
      li(role="presentation")
        a(href="#calendrier") Calendrier
      li(role="presentation")
        a(href="#presse") Presse
      li(role="presentation")
        a(href="#ambassadeurs") Ambassadeurs
    .tab-content
      .tab-pane.active#montres(role="tabpanel")
        h2 Montres
        button.btn.btn-success(ng-click="openWatchModal()") Nouvelle montre
        br
        br
        div.watch(ng-repeat="watch in watchArray | orderBy: '-created_at'" ng-class-even="'even'" ng-class-odd="'odd'")
          h3 {{watch.nom}}
          span {{watch.prix}}
          br
          br
          .edit-buttons
            span.fa.fa-2x.fa-edit(ng-click="modifyWatchModal(watch._id)")
            span.fa.fa-2x.fa-close(ng-click="deleteWatchModal(watch._id)")
      .tab-pane#news(role="tabpanel")
        h2 News
      .tab-pane#calendrier(role="tabpanel")
        h2 Calendrier
      .tab-pane#presse(role="tabpanel")
        h2 Presse
      .tab-pane#ambassadeurs(role="tabpanel")
        h2 Ambassadeurs

    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/angular/angular.min.js")
    script(src="/libs/angular-route/angular-route.min.js")
    script(src="/libs/angular-animate/angular-animate.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/a0-angular-storage/dist/angular-storage.js")
    script(src="/libs/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/libs/angular-bootstrap/ui-bootstrap.min.js")
    script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/libs/angular-touch/angular-touch.min.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/functions.js")
    script(src="/javascripts/services/errorInterceptor.js")
    script(src="/javascripts/services/service-bundle.js")
    script(src="/javascripts/controllers/DashboardCtrl.js")
    script(src="/javascripts/controllers/ModifyWatchModalCtrl.js")
    script(src="/javascripts/controllers/WatchModalCtrl.js")
    script(src="/javascripts/controllers/DeleteWatchCtrl.js")
