body
  padding: 20px 5%

.watch, .post
  position: relative
  padding: 20px
  white-space: pre-wrap
  h3
    margin-top: 0px
  &.odd
    background-color: rgba(250, 250, 250, 1)
  &.even
    background-color: rgba(235, 235, 235, 1)

.edit-buttons
  position: absolute
  top: 20px
  right: 20px
  span
    margin-right: 10px
    cursor: pointer
    &:hover
      color: #AAA
