
<div class="modal-header">
  <h3 class="modal-title">Nouvelle montre</h3>
</div>
<div class="modal-body">
  <form name="newWatchForm" autocomplete="off">
    <div class="form-group">
      <label for="marque">Marque</label>
      <select id="marque" name="marque" ng-model="newWatch.marque" required>
        <option value="Helfer">Helfer</option>
      </select>
    </div>
    <div class="form-group">
      <label for="show">La montre s'affiche sur le site</label>
      <input id="show" type="checkbox" ng-model="newWatch.show">
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input id="nom" type="text" ng-model="newWatch.nom" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="gamme">Gamme</label>
      <select id="gamme" name="gamme" ng-model="newWatch.gamme" required>
        <option value="Diver">Diver</option>
        <option value="Racer">Racer</option>
        <option value="Space">Space</option>
        <option value="Body">Body</option>
        <option value="Gents">Gents</option>
        <option value="Osseos">Osseos</option>
        <option value="Ladys">Ladys</option>
      </select>
    </div>
    <div class="form-group">
      <label for="quantite">Quantité</label>
      <input id="quantite" type="number" ng-model="newWatch.quantite" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="reference">Référence</label>
      <input id="reference" type="text" ng-model="newWatch.reference" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="annee">Année</label>
      <input id="annee" type="text" ng-model="newWatch.annee" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" name="description" rows="5" cols="30" ng-model="newWatch.description" autocomplete="off"></textarea>
    </div>
    <div class="form-group">
      <label for="categorie">Catégorie</label>
      <select name="categorie" id="categorie" ng-model="newWatch.categorie" required autocomplete="off">
        <option value="Homme">Homme</option>
        <option value="Femme">Femme</option>
        <option value="Special">Special Edition</option>
      </select>
    </div>
    <div class="form-group">
      <label for="disponible">Disponibilité</label>
      <select name="disponible" id="disponible" ng-model="newWatch.disponible" required autocomplete="off">
        <option value="Disponible">Disponible</option>
        <option value="Sur commande">Sur commande</option>
        <option value="Appel pour dispo">Appel pour disponibilité</option>
        <option disabled>----------------</option>
        <option value="Non disponible">Non disponible</option>
        <option value="Interrompu">Interrompu</option>
      </select>
    </div>
    <div class="form-group">
      <label for="prix">Prix</label>
      <input type="text" id="prix" ng-model="newWatch.prix" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="taille">Taille</label>
      <select name="taille" id="taille" ng-model="newWatch.taille" required autocomplete="off">
        <option value="40mm">40mm</option>
        <option value="45mm">45mm</option>
        <option value="47mm">47mm</option>
        <option value="48mm">48mm</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bracelet_size">Taille du bracelet</label>
      <select name="bracelet_size" id="bracelet_size" ng-model="newWatch.bracelet_size" required autocomplete="off">
        <option value="26/24">26/24</option>
        <option value="24/22">24/22</option>
        <option value="22/20">22/20</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mouvement">Mouvement</label>
      <input type="text" id="mouvement" ng-model="newWatch.mouvement" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="quartz_auto">Quartz ou automatique</label>
      <select name="quartz_auto" id="quartz_auto" ng-model="newWatch.quartz_auto" required autocomplete="off">
        <option value="Quartz">Quartz</option>
        <option value="Automatique">Automatique</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mouvement_description">Description du mouvement</label>
      <textarea id="mouvement_description" class="form-control" name="mouvement_description" rows="5" cols="30" ng-model="newWatch.mouvement_description" autocomplete="off"></textarea>
    </div>
    <div class="form-group">
      <label for="garantie">Garantie</label>
      <input type="text" id="garantie" ng-model="newWatch.garantie" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="limite">Édition limitée</label>
      <input type="text" id="limite" ng-model="newWatch.limite" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="etancheite">Étanchéité</label>
      <input type="text" id="etancheite" ng-model="newWatch.etancheite" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="glace">Glace</label>
      <input type="text" id="glace" ng-model="newWatch.glace" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="boitier">Boitier</label>
      <input type="text" id="boitier" ng-model="newWatch.boitier" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="traitement">Traitement</label>
      <input type="text" id="traitement" ng-model="newWatch.traitement" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="cadran">Cadran</label>
      <input type="text" id="cadran" ng-model="newWatch.cadran" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="lunette">Lunette</label>
      <input type="text" id="lunette" ng-model="newWatch.lunette" required autocomplete="off">
    </div>
    <div class="form-group">
      <label for="poids">Poids</label>
      <input type="text" id="poids" ng-model="newWatch.poids" required autocomplete="off">
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" id="add-button" ng-disabled="newWatchForm.$invalid" ng-click="addNewWatch()">Ajouter</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
</div>
